[submodule "zaw"]
	path = zaw
	url = https://github.com/zsh-users/zaw.git
[submodule "vimfiles/bundle/EasyMotion"]
	path = vimfiles/bundle/EasyMotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "vimfiles/bundle/DelimitMate"]
	path = vimfiles/bundle/DelimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vimfiles/bundle/Abolish"]
	path = vimfiles/bundle/Abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "vimfiles/bundle/Rust"]
	path = vimfiles/bundle/Rust
	url = https://github.com/rust-lang/rust.vim
[submodule "vimfiles/bundle/Syntastic"]
	path = vimfiles/bundle/Syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vimfiles/bundle/IndentLine"]
	path = vimfiles/bundle/IndentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "vimfiles/bundle/Markdown"]
	path = vimfiles/bundle/Markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vimfiles/bundle/SudoEdit"]
	path = vimfiles/bundle/SudoEdit
	url = https://github.com/chrisbra/SudoEdit.vim.git
[submodule "vimfiles/bundle/Surround"]
	path = vimfiles/bundle/Surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vimfiles/bundle/Startify"]
	path = vimfiles/bundle/Startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "vimfiles/bundle/UndoTree"]
	path = vimfiles/bundle/UndoTree
	url = https://github.com/mbbill/undotree.git
[submodule "vimfiles/bundle/Unimpaired"]
	path = vimfiles/bundle/Unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vimfiles/bundle/EasyAlign"]
	path = vimfiles/bundle/EasyAlign
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "vimfiles/bundle/NerdCommenter"]
	path = vimfiles/bundle/NerdCommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vimfiles/bundle/NerdTree"]
	path = vimfiles/bundle/NerdTree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vimfiles/bundle/Scala"]
	path = vimfiles/bundle/Scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "vimfiles/bundle/GoLang"]
	path = vimfiles/bundle/GoLang
	url = https://github.com/fatih/vim-go.git
[submodule "vimfiles/bundle/YouCompleteMe"]
	path = vimfiles/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vimfiles/bundle/UtilSnips"]
	path = vimfiles/bundle/UtilSnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vimfiles/bundle/VimSnippets"]
	path = vimfiles/bundle/VimSnippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vimfiles/bundle/Braceless"]
	path = vimfiles/bundle/Braceless
	url = https://github.com/tweekmonster/braceless.vim.git
[submodule "vimfiles/bundle/Nim"]
	path = vimfiles/bundle/Nim
	url = https://github.com/zah/nim.vim.git
[submodule "rust"]
	path = rust
	url = https://github.com/rust-lang/rust
	branch = stable
[submodule "base16"]
	path = base16
	url = https://github.com/chriskempson/base16-shell
