.lesshst
_viminfo
.viminfo
.gitconfig
.ssh/
.neocon/
.VirtualBox/
.bash_history
.slime-history.eld
.idlerc/
*.swp
.neocon/
.subversion/
vimfiles/sessions/
.rnd
.dzil/config.ini
.vim-fuf
en.prepl
en.pws
.idlerc/recent-files.lst
.gimp*
.recently-used.xbel
.vim-fuf-data/
.thumbnails/
.emacs.d/
.m2/
