.lesshst
_viminfo
.viminfo
.gitconfig
.ssh/
.neocon/
.VirtualBox/
.bash_history
.slime-history.eld
.idlerc/
*.swp
.neocon/
.subversion/
vimfiles/sessions/
.rnd
.dzil/config.ini
.vim-fuf
en.prepl
en.pws
.idlerc/recent-files.lst
.gimp*
.recently-used.xbel
.vim-fuf-data/
.thumbnails/
.emacs.d/
.m2/
.dvdcss
.gitk
vimfiles/.netrwhist
VirtualBox\ VMs
.DS_Store
.cpanplus
.terminator/
.terminfo/
.sbt/boot
.sbt/target/
.sbt/plugins/project
.sbt/plugins/target
.sbt/cache
.ttreerc
.perlreplhist
.pause
.cpanm
.zenmap
.pyfa
