[Unit]
Description=Background Daemon Unit for Atuin-Daemon

[Service]
ExecStart=%h/.cargo/bin/atuin daemon
Restart=on-failure
RestartSteps=5
RestartMaxDelaySec=10

[Install]
WantedBy=default.target
