[Unit]
Description=RIFT Intel Fusion Tool
PartOf=graphical-session.target
After=graphical-session.target dbus.service

[Service]
Type=exec
KillMode=mixed
ExecStart=/home/adam/.local/bin/pwrap /home/adam/opt/rift/bin/rift
Restart=no
Slice=app-graphical.slice

[Install]
WantedBy=graphical-session.target
