fish_variables
conf.d/
completions/
functions/*

/fishd.tmp.*
/fish_variables*

!functions/agebak.fish
!functions/btrls.fish
!functions/cp.fish
!functions/expand-dot-to-parent-directory-path.fish
!functions/genBloop.fish
!functions/genSrc.fish
!functions/gomise.fish
!functions/goupd.fish
!functions/gvenv.fish
!functions/jgrep.fish
!functions/jgz.fish
!functions/jtail.fish
!functions/lsblkc.fish
!functions/miseup.fish
!functions/mkvenv.fish
!functions/mv.fish
!functions/nodemise.fish
!functions/pipbase.fish
!functions/pipnorm.fish
!functions/pipu.fish
!functions/pvcp.fish
!functions/pyei.fish
!functions/pymise.fish
!functions/refl.fish
!functions/runx.fish
!functions/rusti.fish
!functions/setupv.fish
!functions/tup.fish
