fish_variables
conf.d/
completions/
functions/*
!functions/expand-dot-to-parent-directory-path.fish
!functions/genSrc.fish
!functions/genb.fish
!functions/runx.fish
!functions/tup.fish
!functions/cp.fish
!functions/jtail.fish
