fish_variables
conf.d/
completions/
functions/*

/fishd.tmp.*

!functions/cp.fish
!functions/expand-dot-to-parent-directory-path.fish
!functions/genSrc.fish
!functions/genb.fish
!functions/goupd.fish
!functions/jgrep.fish
!functions/jgz.fish
!functions/jtail.fish
!functions/mkvenv.fish
!functions/mv.fish
!functions/pipbase.fish
!functions/pipnorm.fish
!functions/pipu.fish
!functions/pvcp.fish
!functions/pyei.fish
!functions/refl.fish
!functions/runx.fish
!functions/rusti.fish
!functions/setupv.fish
!functions/tup.fish
