use strict;
use warnings;

use utf8;
use Modern::Perl '2012';
use autovivification;
use autobox;
use autodie;
use Try::Tiny;
use IO::File;
use File::Slurp;
use List::AllUtils qw/ :all /;
use List::Gen qw/ :all !zip /;

my @plugins = (qw/
    Colors
    Completion
    CompletionDriver::Globals
    CompletionDriver::INC
    CompletionDriver::Keywords
    CompletionDriver::LexEnv
    CompletionDriver::Methods
    DataPrinter
    FancyPrompt
    History
    Interrupt
    MultiLine::PPI
    Peek
/);

load_plugin($_)  for  @plugins;

package main;
